//- static/template/action.pug
p: em The action '#{data.source}' was requested.
p: small An action will be fired by adding the class emit to the anchor element defined in /static/app.html.
 | It looks somehow like:
p: small
 code= '<li><a class="emit" href="#" id="sourceId">Action</a></li>'
