//- static/template/home.pug
p: em Websockets Basic Framework
p.
 This is a basic framework to control clients content without reconnecting to the server.
 It's done by sending the content right by using websockets. Also the clients actions are transmitted by websockets.
p: small BTW: You just clicked '#{data.source}'.
//- p: small &copy; 2016 - Manfred Ackermann
